<a href="https://colab.research.google.com/github/cfreeman22/d212_data_mining_2/blob/main/D212_kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA Mining 2 TASK 1 Clustering

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pylab as plt
%matplotlib inline

import seaborn as sns
from sklearn.model_selection  import train_test_split
from sklearn.cluster import KMeans

from scipy.stats import zscore

# to scale the data using z-score
from sklearn.preprocessing import StandardScaler

# to compute distances
from scipy.spatial.distance import cdist

# to perform k-means clustering and compute silhouette scores
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# to visualize the elbow curve and silhouette scores
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer

In [2]:
#reading the data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Reading the data from my google drive.
df = pd.read_csv('/content/drive/My Drive/churn_clean.csv')

## Data Preeparation steps

In [4]:
df.dtypes

CaseOrder                 int64
Customer_id              object
Interaction              object
UID                      object
City                     object
State                    object
County                   object
Zip                       int64
Lat                     float64
Lng                     float64
Population                int64
Area                     object
TimeZone                 object
Job                      object
Children                  int64
Age                       int64
Income                  float64
Marital                  object
Gender                   object
Churn                    object
Outage_sec_perweek      float64
Email                     int64
Contacts                  int64
Yearly_equip_failure      int64
Techie                   object
Contract                 object
Port_modem               object
Tablet                   object
InternetService          object
Phone                    object
Multiple                 object
OnlineSecurity           object
OnlineBackup             object
DeviceProtection         object
TechSupport              object
StreamingTV              object
StreamingMovies          object
PaperlessBilling         object
PaymentMethod            object
Tenure                  float64
MonthlyCharge           float64
Bandwidth_GB_Year       float64
Item1                     int64
Item2                     int64
Item3                     int64
Item4                     int64
Item5                     int64
Item6                     int64
Item7                     int64
Item8                     int64
dtype: object

In [5]:
# Checking for duplicates
df.duplicated().sum()

0

In [6]:
#Checking for null
df.isnull().values.any()

False

In [7]:
# Dropping unnecessary columns
cols_to_drop =['CaseOrder', 'Customer_id', 'Interaction', 'UID', 'Zip', 'Lat', 'Lng', 'TimeZone','City', 'State', 'County','Job','Population' ]

# Dropping unnecessary columns
df = df.drop(cols_to_drop, axis = 1)

# renaming the survey items columns
df = df.rename(columns={'Item1': 'TimelyResponse','Item2': 'TimelyFixes' , 'Item3': 'TimelyReplacements', 'Item4': 'Reliability',

                          'Item5': 'Options', 'Item6': 'RespectfulResponse', 'Item7': 'CourteousExchange', 'Item8': 'ActiveListening'})

# Checking to confirm if unnecessary columns were dropped and survey columns renamed appropriately

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Area                  10000 non-null  object
 1   Children              10000 non-null  int64
 2   Age                   10000 non-null  int64
 3   Income                10000 non-null  float64
 4   Marital               10000 non-null  object
 5   Gender                10000 non-null  object
 6   Churn                 10000 non-null  object
 7   Outage_sec_perweek    10000 non-null  float64
 8   Email                 10000 non-null  int64
 9   Contacts              10000 non-null  int64
 10  Yearly_equip_failure  10000 non-null  int64
 11  Techie                10000 non-null  object
 12  Contract              10000 non-null  object
 13  Port_modem            10000 non-null  object
 14  Tablet                10000 non-null  object
 15  InternetService       10000 non-null  object
 16  Phone                 10000 non-null  object
 17  Multiple              10000 non-null  object
 18  OnlineSecurity        10000 non-null  object
 19  OnlineBackup          10000 non-null  object
 20  DeviceProtection      10000 non-null  object
 21  TechSupport           10000 non-null  object
 22  StreamingTV           10000 non-null  object
 23  StreamingMovies       10000 non-null  object
 24  PaperlessBilling      10000 non-null  object
 25  PaymentMethod         10000 non-null  object
 26  Tenure                10000 non-null  float64
 27  MonthlyCharge         10000 non-null  float64
 28  Bandwidth_GB_Year     10000 non-null  float64
 29  TimelyResponse        10000 non-null  int64
 30  TimelyFixes           10000 non-null  int64
 31  TimelyReplacements    10000 non-null  int64
 32  Reliability           10000 non-null  int64
 33  Options               10000 non-null  int64
 34  RespectfulResponse    10000 non-null  int64
 35  CourteousExchange     10000 non-null  int64
 36  ActiveListening       10000 non-null  int64
dtypes: float64(5), int64(13), object(19)
memory usage: 2.8+ MB

In [8]:
df.Churn = df.Churn.map({'Yes':1 ,'No':0}).astype('int')

In [9]:
df.Area.value_counts()

Suburban    3346
Urban       3327
Rural       3327
Name: Area, dtype: int64

In [10]:
df.Marital.value_counts()

Divorced         2092
Widowed          2027
Separated        2014
Never Married    1956
Married          1911
Name: Marital, dtype: int64

In [11]:
df.Gender.value_counts()

Female       5025
Male         4744
Nonbinary     231
Name: Gender, dtype: int64

In [12]:
df.PaymentMethod.value_counts()

Electronic Check            3398
Mailed Check                2290
Bank Transfer(automatic)    2229
Credit Card (automatic)     2083
Name: PaymentMethod, dtype: int64

In [13]:
df.InternetService.value_counts()

Fiber Optic    4408
DSL            3463
None           2129
Name: InternetService, dtype: int64

In [14]:
df.Contract.value_counts()

Month-to-month    5456
Two Year          2442
One year          2102
Name: Contract, dtype: int64

In [ ]:
## DROP EITHER TENURE OR BANDWIDTH from previous analysis these two features were highly correlated
#df = df.drop('Bandwidth_GB_Year', axis = 1)

In [15]:
# Dropping unnecessary categorical columns ...........
cols_to_drop2 =['Area', 'Marital', 'Gender', 'PaymentMethod', 'InternetService', 'Contract','Bandwidth_GB_Year' ]

# Dropping unnecessary columns
df = df.drop(cols_to_drop2, axis = 1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Children              10000 non-null  int64
 1   Age                   10000 non-null  int64
 2   Income                10000 non-null  float64
 3   Churn                 10000 non-null  int64
 4   Outage_sec_perweek    10000 non-null  float64
 5   Email                 10000 non-null  int64
 6   Contacts              10000 non-null  int64
 7   Yearly_equip_failure  10000 non-null  int64
 8   Techie                10000 non-null  object
 9   Port_modem            10000 non-null  object
 10  Tablet                10000 non-null  object
 11  Phone                 10000 non-null  object
 12  Multiple              10000 non-null  object
 13  OnlineSecurity        10000 non-null  object
 14  OnlineBackup          10000 non-null  object
 15  DeviceProtection      10000 non-null  object
 16  TechSupport           10000 non-null  object
 17  StreamingTV           10000 non-null  object
 18  StreamingMovies       10000 non-null  object
 19  PaperlessBilling      10000 non-null  object
 20  Tenure                10000 non-null  float64
 21  MonthlyCharge         10000 non-null  float64
 22  TimelyResponse        10000 non-null  int64
 23  TimelyFixes           10000 non-null  int64
 24  TimelyReplacements    10000 non-null  int64
 25  Reliability           10000 non-null  int64
 26  Options               10000 non-null  int64
 27  RespectfulResponse    10000 non-null  int64
 28  CourteousExchange     10000 non-null  int64
 29  ActiveListening       10000 non-null  int64
dtypes: float64(4), int64(14), object(12)
memory usage: 2.3+ MB